@media screen and (max-width: 1440px) and (min-width: 900px) {
    body {
        font-size: 10px;
   }
}
@media screen and (max-width: 1270px) and (min-width: 1025px) {
    .tooltip:hover .tooltip-message {
        top: 1em;
   }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .tooltip:hover .tooltip-message {
        top: 7%;
   }
}
@media( max-width: 768px ) {
    #calendar-openSlot-component .weekdays, #calendar-openSlot-component .other-month {
        display: none;
   }
    #calendar-openSlot-component li {
        height: auto;
        border: 0.0625em solid #eeddee;
        width: 100%;
        padding: 0.625em;
        margin-bottom: -0.0625em;
   }
    #calendar-openSlot-component .date {
        float: none;
   }
    #calendar-openSlot-component .booked-icon {
        margin-top: 1%;
   }
    .tooltip:hover .tooltip-message {
        left: 4em;
        top: 3em;
   }
}
