/*** reusable modules ***/

#calendar-openSlot-component h1 {
    margin: 0.9375em 0;
    text-align: center;
}

    #calendar-openSlot-component ul {
        list-style:none;
        clear:both;
}

    #calendar-openSlot-component li {
        box-sizing: border-box;
        border: 0.0625em solid #ccc;
        display: block;
        float: left;
        width: 14.2857142857%;
        padding: 0.3125em;
        margin-right: -0.0625em;
    }

    #calendar-openSlot-component ul.weekdays {
        height: 2.5em;
        background: rgb(94, 97, 143);
    }

    #calendar-openSlot-component ul.weekdays li {
        text-align: center;
        text-transform: uppercase;
        line-height: 1.25em;
        border: none;
        padding: 0.625em 0.375em;
        color: #fff;
    }

    #calendar-openSlot-component .days li {
        height: 11.25em;
    }    

    #calendar-openSlot-component .date {
        text-align:center;
        color: #000;
        float: right;
        font-weight: bold;
        padding: 0.3125em;
    }

    #calendar-openSlot-component .other-month {
        background: #e6e6e6;
     }

     #calendar-openSlot-component .other-month .date{
        color: #999;
     }

   #calendar-openSlot-component .booked-icon {
        width: 50%;
        height: 50%;
        margin-left: 25%;
        margin-top: 15%;
   }

   #calendar-openSlot-component #app-messages {
        width: 37.5em;
        margin: 0 auto;
        text-align: center;
        background: beige;
        -webkit-border-bottom-right-radius: 0.3125em;
        -webkit-border-bottom-left-radius: 0.3125em;
        -moz-border-radius-bottomright: 0.3125em;
        -moz-border-radius-bottomleft: 0.3125em;
        border-bottom-right-radius: 0.3125em;
        border-bottom-left-radius: 0.3125em;
        border-top: none;
        padding: 0.625em 0 1.25em 0;
        opacity: 0;
        transition: 0.5s opacity;
   }

   #calendar-openSlot-component .app-messages-error {
        border: 0.1875em solid #ff0000;
        color: #ff0000;
    }

    #calendar-openSlot-component .app-messages-sucess {
        border: 0.1875em solid #00dd63;
        color: #00dd63;
    }


    .tooltip {
        position: relative;
        z-index: 20;
    }

        .tooltip .tooltip-message {
            display: none;
        }

        .tooltip:hover {
            z-index: 21;
        }

        .tooltip:hover .tooltip-message {
            display: block;
            width: auto;
            height: auto;
            padding: 0.625em;
            color: #000;
            background: #fff;
            position: absolute;
            border: 0.0625em solid #ccc;
            font-size: 0.75em;
            top: 15%;
            left:0%;
        }

        .tooltip-message .tooltip-title {
           font-weight: bold;
        }

        .tooltip-message label {
            display: block;
            padding:0.3125em 0;
         }

         .tooltip-message input {
              width: 30%;
         }

         .tooltip-message input {
            width: 30%;
        }

       .tooltip-message .find-slot {
           margin:0.625em 0;
           cursor: pointer;
       }

       .js-form-book-appointment{
           margin:0.625em 0;
       }

       .tooltip-message .set-time{
           width: 46%;
       }

       .book-appointment{
           margin:0.625em 0;
       }

       .messages-modal {
          width: 100%;
          position: absolute;
          top: 0;
       }

      